/* Reset all margins and paddings */
* {
    margin: 0px;
    padding: 0px;
}
/* And make sure we're filling the page */
html, body, main {
    height: 100%;
    font-size: 20px;
}

:root {
    --chr-white: #EEE1C2;
    --chr-black: #393D3F;
    --chr-red: #D26359;
    --chr-dark-green: #5D7967;
    --chr-light-green: #9EB194;
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 1rem;
    --space-4: 1.5rem;
}

/* Colors */
.cWhite { color: var(--chr-white); }
.cBlack { color: var(--chr-black); }
.cRed { color: var(--chr-red); }
.cDarkGreen { color: var(--chr-dark-green); }
.cLightGreen { color: var(--chr-light-green); }
.bgWhite { background-color: var(--chr-white); }
.bgBlack { background-color: var(--chr-black); }
.bgRed { background-color: var(--chr-red); }
.bgDarkGreen { background-color: var(--chr-dark-green); }
.bgLightGreen { background-color: var(--chr-light-green); }

/* Typography */
.bold { font-weight: bold; }
.serif { font-family: 'Lancelot', cursive; }
.monospace { font-family: monospace; }
.italic { font-style: italic; }
.fontNormal { font-size: 1rem; }
.fontTiny { font-size: 0.65rem; }
.fontMedium { font-size: 1.5rem; }
.fontLarge { font-size: 2rem; }
.fontHuge { font-size: 3rem; }
.underlineNone { text-decoration: none; }

/* Layout stuff */
.block { display: block; }
.inline { display: inline; }
.flex { display: flex; }
.alignCenter { align-items: center; }
.justifyCenter { justify-content: center; }
.heightAll { height: 100%; }
.absolute { position: absolute; }
.bulletsNone { list-style-type: none; }
.overflowAuto { overflow: auto; }
.textCenter { text-align: center; }
.justifyCenter { justify-content: center; }

/* Borders */
.border { border: 2px solid; }
.bcRed { border-color: var(--chr-red); }
.bcBlack { border-color: var(--chr-black); }

/* Margins and paddings */
.m0 { margin: 0; }
.ml0 { margin-left: 0; }
.mr0 { margin-right: 0; }
.mb0 { margin-bottom: 0; }
.mt0 { margin-top: 0; }

.m1 { margin: var(--space-1); }
.ml1 { margin-left: var(--space-1); }
.mr1 { margin-right: var(--space-1); }
.mb1 { margin-bottom: var(--space-1); }
.mt1 { margin-top: var(--space-1); }

.m2 { margin: var(--space-2); }
.ml2 { margin-left: var(--space-2); }
.mr2 { margin-right: var(--space-2); }
.mb2 { margin-bottom: var(--space-2); }
.mt2 { margin-top: var(--space-2); }

.m3 { margin: var(--space-3); }
.ml3 { margin-left: var(--space-3); }
.mr3 { margin-right: var(--space-3); }
.mb3 { margin-bottom: var(--space-3); }
.mt3 { margin-top: var(--space-3); }

.p0 { padding: 0; }
.pl0 { padding-left: 0; }
.pr0 { padding-right: 0; }
.pb0 { padding-bottom: 0; }
.pt0 { padding-top: 0; }

.p1 { padding: var(--space-1); }
.pl1 { padding-left: var(--space-1); }
.pr1 { padding-right: var(--space-1); }
.pt1 { padding-top: var(--space-1); }
.pb1 { padding-bottom: var(--space-1); }

.p2 { padding: var(--space-2); }
.pl2 { padding-left: var(--space-2); }
.pr2 { padding-right: var(--space-2); }
.pt2 { padding-top: var(--space-2); }
.pb2 { padding-bottom: var(--space-2); }

.p3 { padding: var(--space-3); }
.pl3 { padding-left: var(--space-3); }
.pr3 { padding-right: var(--space-3); }
.pb3 { padding-bottom: var(--space-3); }
.pt3 { padding-top: var(--space-3); }

.p4 { padding: var(--space-4); }
.pl4 { padding-left: var(--space-4); }
.pr4 { padding-right: var(--space-4); }
.pb4 { padding-bottom: var(--space-4); }
.pt4 { padding-top: var(--space-4); }

/* Special stuff */
.fancyFocus:focus { outline: 3px solid var(--chr-light-green); }
.fancyBorder {
    border-left: 50px solid;
    border-image: linear-gradient(to right, crimson .1%, gold .1% 99.9%) 2;
}
.fancyLink {
    color: crimson;
    font-weight: bold;
    text-decoration: underline;
}
.fancyLink:hover {
    font-style: italic;
}
.cursorPointer { cursor: pointer; }
.cursorDefault { cursor: default; }
.cursorHelp { cursor: help; }